{% extends "base.html" %}

{% block content %}

<div class="container mt-5 p-4 rounded bg-dark text-white">
    <h1 class="text-danger text-center mb-4">Add New User</h1>
    <form action="{{ url_for('add_user') }}" method="POST">
        <div class="mb-3" id="name">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="mb-3" id="password">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <div class="mb-3" id="is_admin">
            <label for="is_admin" class="form-label">Adminrights</label>
            <input type="number" class="form-control" id="is_admin" name="is_admin" required>
        </div>

        <div class="mb-3" id="bodyweight">
            <label for="bodyweight" class="form-label">Bodyweight</label>
            <input type="number" class="form-control" id="bodyweight" name="bodyweight">
        </div>

        <div class="mb-3" id="bodyfat">
            <label for="bodyfat" class="form-label">Bodyfat</label>
            <input type="number" class="form-control" id="bodyfat" name="bodyfat">
        </div>
        <button type="submit" class="btn btn-danger w-100">Add User</button>
    </form>
    <a href="{{ url_for('user') }}" class="btn btn-secondary w-100 mt-3">Back to Users</a>
</div>

{% endblock %}