{% extends "base.html" %}

{% block content %}

<div class="container mt-5 p-4 rounded bg-dark text-white">
    <h1 class="text-danger text-center mb-4">Edit User</h1>
    <form action="" method="POST">
        <div class="mb-3" id="name">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ user.name }}" required>
        </div>

        <div class="mb-3" id="password">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" value="{{ user.password }}" required>
        </div>

        <div class="mb-3">
            <label for="is_admin" class="form-label">Adminrights</label>
            <select class="form-select" id="is_admin" name="is_admin" required>
                {% if user['is_admin'] == True %}
                <option value=1 selected>Yes</option>
                <option value=0>No</option>
                {% else %}
                <option value=0 selected>No</option>
                <option value=1>Yes</option>
                {% endif %}
            </select>
        </div>

        <div class="mb-3" id="bodyweight">
            <label for="bodyweight" class="form-label">Bodyweight</label>
            <input type="float" class="form-control" id="bodyweight" name="bodyweight" value="{{ user.bodyweight }}">
        </div>

        <div class="mb-3" id="bodyfat">
            <label for="bodyfat" class="form-label">Bodyfat</label>
            <input type="float" class="form-control" id="bodyfat" name="bodyfat" value="{{ user.bodyfat }}">
        </div>

        <button type="submit" class="btn btn-danger w-100">Edit User</button>
    </form>
    <a href="{{ url_for('user') }}" class="btn btn-secondary w-100 mt-3">Back to Users</a>
</div>

{% endblock %}