{% extends "base.html" %}

{% block title %}Exercises Overview{% endblock %}

{% block content %}
<h1>Exercises List</h1>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Created at</th>
        <th scope="col">Updated at</th>
      </tr>
    </thead>
    <tbody>
        {% for exercise in exercises %}
        <tr>
            <td>{{ exercise['id']}}</td>
            <td>{{ exercise['name']}}</td>
            <td>{{ exercise['description']}}</td>
            <td>{{ exercise['category']}}</td>
            <td>{{ exercise['created_at']}}</td>
            <td>{{ exercise['updated_at']}}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}

