{% extends "base.html" %}

{% block title %}Exercises Overview{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center text-danger mb-4">Views</h1>

    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Exercises</h5>
                    <p class="card-text">A brief description of the exercise. It might explain what muscles it targets or its benefits.</p>
                    <a href="{{ url_for('exercise') }}" class="btn btn-secondary">View Exercise</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text">Short description of the user or their status (e.g., "Active member" or "Admin").</p>
                    <a href="{{ url_for('user') }}" class="btn btn-secondary">View User</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Exercise categories</h5>
                    <p class="card-text">Short description of the Exercise categories and their status (e.g., "Active member" or "Admin").</p>
                    <a href="{{ url_for('category') }}" class="btn btn-secondary">View Exercise category</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
