{% extends "base.html" %}

{% block title %}Exercises Overview{% endblock %}

{% block content %}

<div class="container mt-5 p-4 rounded bg-dark text-white">
    <h1 class="text-danger text-center mb-4">Edit Exercise</h1>
    <form action="" method="POST">
        <div class="mb-3" id="name">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ exercise.name }}" required>
        </div>

        <div class="mb-3" id="description">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description" value="{{ exercise.description }}" required>
        </div>

        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" id="category" name="category" required>
                <option value="{{ exercise.category }}">{{ exercise.category }}</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <button type="submit" class="btn btn-danger w-100">Edit Exercise</button>
    </form>
</div>

{% endblock %}