{% extends "base.html" %}
{% block content %}
<div class="bg-dark text-white min-vh-100 rounded">
    <div class="container mt-5 p-4 rounded">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="mb-4 text-danger">About Us</h1>
                <p class="lead">
                    Welcome to <strong>My Exercise Tracker</strong>! Our platform is designed to help you stay on top of your fitness goals by tracking your workouts.
                </p>
                <p>
                    Whether you're a beginner or a seasoned athlete, our tools are here to support your fitness journey. Stay motivated, stay consistent, and achieve your goals with us!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}